@tailwind base;
@tailwind components;
@tailwind utilities;
 

body { 
  font-family: "SF Pro Display",  san-serif;

}
/* drop-shadow(12px 12px 72px  #ffffff60) */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* *{
  transition: all 1s   ;
} */

/* globals.css */

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
  font-weight: 200;
  font-style: italic;
}



@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Scale up a little */
  }
}

.loadingAnimation {
  animation: scaleAnimation 1s ease-in-out infinite; /* Infinite animation */
}



/* App.css */
.app {
  display: flex;
}
.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  padding: 1em;
}
.canvas {
  flex: 1;
  min-height: 500px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  padding: 1em;
}
.customizer {
  width: 20%;
  background-color: #fff;
  padding: 1em;
}
.toolbar {
  margin-top: 10px;
}



.component-hovered{
  border: 3px solid rgb(61, 161, 255); 
}


.component-selected{
  border: 3px solid rgb(0, 109, 211); 
}